<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Message Board</title>
  </head>
  <body>
    <div class="header">
      <h1>Message Board</h1>
      <span>Share with others anything you want!</span>
    </div>
    
    <div class="main">
      <a class="new-message-btn" href="/messages/new">Write a new message +</a>

      <% messages.forEach(message => { %>
      <div class="card">
        <span class="username">
          <%= message.user %>
        </span>
        <span class="text">
          <%= message.text %>
        </span>
      </div>
      <% }) %>

    </div>

  </body>
</html>
